@model IEnumerable<PartyResponse>
@{
    // ViewBag.Title = "Parties";
}

<form asp-controller="Parties" asp-action="Index" method="get">
    <h1>Parties</h1>
    <a asp-controller="Parties" asp-action="Create">Create Party</a>

     <table class="table w-100 mt">
  <thead>
   <tr>
    @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
    { "ColumnName", nameof(PartyResponse.PartyName) },
    { "DisplayName", "Party Name" },
    })

    @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
    { "ColumnName", nameof(PartyResponse.PartyCategory) },
    { "DisplayName", "Category" },
    })

    <th>Options</th>

   </tr>
  </thead>
  <tbody>
   @foreach (PartyResponse party in Model)
   {
    <tr>
     <td style="width:15%">@party.PartyName</td>
     <td style="width:20%">@party.PartyCategory</td>
     
     <td style="width:20%">
         <a asp-controller="Parties" asp-action="Edit" asp-route-personID="@party.PartyID">Edit</a>
         @* /Persons/Edit/1 *@

         <a asp-controller="Parties" asp-action="Delete" asp-route-personID="@party.PartyID">Delete</a>
         @* /Persons/Delete/1 *@
     </td>
    </tr>
   }
   <tr></tr>
  </tbody>

 </table>

</form>

